@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;500&family=IBM+Plex+Sans:wght@500;600&display=swap");
*,
*::after,
*::before {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.article1 p, .article2 div {
  text-align: justify;
  font-family: IBM Plex Mono, monospace;
  font-weight: normal;
  font-size: 14px;
  color: #060a24;
  letter-spacing: 0;
  line-height: 22px;
}

header {
  font-family: IBM Plex Sans;
  font-weight: normal;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 44px;
}

header img {
  width: 24px;
  height: 24px;
  margin: 10px 0px 10px 16px;
}

@media (min-width: 1440px) {
  header {
    height: 80px;
    width: 1440px;
  }
  header img {
    width: 36px;
    height: 36px;
    margin: 22px 0px 22px 100px;
  }
}

.nav__bar {
  width: 100%;
  height: 44px;
  background-color: transparent;
  padding-top: 44px;
  position: absolute;
}

@media (min-width: 1440px) {
  .nav__bar {
    width: 100%;
    height: 80px;
    padding-top: 0;
    position: relative;
  }
}

.nav__items {
  width: 100%;
  height: auto;
  max-height: 1px;
  overflow: hidden;
  list-style: none;
  margin: 0;
  padding: 0;
  -webkit-transition: all 1s cubic-bezier(0.325, 1, 0.22, 1);
  transition: all 1s cubic-bezier(0.325, 1, 0.22, 1);
}

@media (min-width: 1440px) {
  .nav__items {
    max-height: none;
    display: inline-block;
    text-align: right;
  }
}

.nav__item {
  padding: 0;
  margin: 0;
}

@media (min-width: 1440px) {
  .nav__item {
    display: inline-block;
  }
}

.nav__item a {
  display: block;
  color: #fff;
  padding: 1em;
  margin: 0;
  font-size: 16px;
  text-decoration: none;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

@media (min-width: 1440px) {
  .nav__item a {
    color: #060a24;
    display: inline-block;
    text-align: left;
    height: auto;
    padding: 0;
    border: none;
    padding-right: 48px;
    padding-top: 26px;
    letter-spacing: 0;
    line-height: 28px;
  }
}

.nav__item a:hover, .nav__item a:focus {
  color: #00f3bb;
  letter-spacing: 0;
  line-height: 28px;
  text-decoration: line-through;
}

.nav__item a:active {
  color: rgba(6, 10, 36, 0.56);
  letter-spacing: 0;
  line-height: 28px;
  text-decoration: line-through;
}

.nav__icon {
  display: block;
  position: absolute;
  top: 16px;
  right: 19px;
  height: 27px;
  width: 27px;
  cursor: pointer;
  text-indent: -9999px;
  -webkit-transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
  border: none;
  color: transparent;
  text-shadow: 0 0 0 gray;
  text-align: center;
}

.nav__icon:focus {
  outline: none;
}

@media (min-width: 1440px) {
  .nav__icon {
    display: none;
    top: 16px;
    right: 19px;
    height: 27px;
    width: 27px;
  }
}

.nav__icon-line {
  position: absolute;
  display: block;
  background: #060a24;
  width: 18px;
  height: 2px;
  border-radius: 0.2rem;
  left: 0;
  text-indent: 0;
  -webkit-transition: all 0.6s cubic-bezier(0.5, 0.1, 0, 1.2);
  transition: all 0.6s cubic-bezier(0.5, 0.1, 0, 1.2);
}

.nav__icon-line:first-child {
  top: 0;
}

.nav__icon-line:nth-child(2) {
  top: 8px;
}

.nav__icon-line:nth-child(3) {
  top: 16px;
}

input[type="checkbox"] {
  display: none;
  visibility: hidden;
}

input[type="checkbox"]:checked ~ nav .nav__items {
  height: auto;
  width: 320px;
  background: #0000ec;
  max-height: 30rem;
}

input[type="checkbox"]:checked ~ label .nav__icon {
  display: block;
  top: 16px;
  right: 19px;
  height: 27px;
  width: 27px;
  cursor: pointer;
  text-indent: -9999px;
}

input[type="checkbox"]:checked ~ label .nav__icon-line:first-child {
  top: 0px;
  width: 14px;
  -webkit-transform: translateX(-8px) rotate(-45deg) translateY(12px);
          transform: translateX(-8px) rotate(-45deg) translateY(12px);
}

input[type="checkbox"]:checked ~ label .nav__icon-line:nth-child(2) {
  opacity: 0;
}

input[type="checkbox"]:checked ~ label .nav__icon-line:nth-child(3) {
  top: 14px;
  width: 14px;
  -webkit-transform: translateX(-5px) rotate(45deg) translateY(-8px);
          transform: translateX(-5px) rotate(45deg) translateY(-8px);
}

.container-titulo {
  width: 100%;
  height: 66px;
}

.container-titulo h2 {
  margin-top: 29px;
  text-align: left;
  font-family: IBM Plex Sans, monospace;
  font-size: 36px;
  color: #060a24;
  letter-spacing: 0;
  line-height: 42px;
}

.article1 {
  width: 288px;
  height: 66px;
  margin: 16px 16px 36px 16px;
}

a.boton_1 {
  margin: 0px 16px;
  border: none;
  display: inline-block;
  padding: 13px 96px;
  width: 96px;
  height: 22px;
  text-decoration: none;
  background: #00f3bb;
  font-family: IBM Plex Mono, monospace;
  font-weight: 500;
  font-size: 16px;
  color: #060a24;
  letter-spacing: 0;
  text-align: center;
  line-height: 22px;
}

.boton_1:hover {
  background-image: linear-gradient(225deg, #0000fe 0%, #00f0b8 100%);
  font-family: IBM Plex Mono, monospace;
  font-weight: 500;
  font-size: 16px;
  color: #ffffff;
  letter-spacing: 0;
  text-align: center;
  line-height: 24px;
  text-decoration: none;
}

.episodios {
  -webkit-clip-path: polygon(0 3%, 100% 0, 100% 97%, 0% 100%);
          clip-path: polygon(0 3%, 100% 0, 100% 97%, 0% 100%);
  border: none;
  margin-top: 24px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 11px 298px 11px;
      grid-template-columns: 11px 298px 11px;
  -ms-grid-rows: 127px 225px 11px 225px 11px 225px 11px 225px 143.5px;
      grid-template-rows: 127px 225px 11px 225px 11px 225px 11px 225px 143.5px;
  background-image: linear-gradient(225deg, #0000ff 0%, #0000a3 100%);
  width: 100%;
  height: 1203.5px;
}

.episodios h3 {
  width: 157px;
  height: 42px;
  margin: 64px 147px 0px 16px;
  font-family: IBM Plex Sans, monospace;
  font-weight: normal;
  font-size: 36px;
  color: #ffffff;
  letter-spacing: 0;
  line-height: 42px;
}

.episodios iframe {
  height: 298px;
  width: 100%;
  border: 0;
  background: transparent;
}

.episodios .jsparty {
  -ms-grid-column: 2;
  grid-column: 2;
  -ms-grid-row: 2;
  grid-row: 2;
}

.episodios .syntax {
  -ms-grid-column: 2;
  grid-column: 2;
  -ms-grid-row: 4;
  grid-row: 4;
}

.episodios .rework {
  -ms-grid-column: 2;
  grid-column: 2;
  -ms-grid-row: 6;
  grid-row: 6;
}

.episodios .ruby {
  -ms-grid-column: 2;
  grid-column: 2;
  -ms-grid-row: 8;
  grid-row: 8;
}

.phone {
  -webkit-transform: translate(0px, -95.5px);
          transform: translate(0px, -95.5px);
  z-index: 1;
  width: 100%;
  height: 519px;
}

.phone img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center center;
     object-position: center center;
}

.article2 h3 {
  margin: -95.5px 16px 0px 16px;
  width: 288px;
  height: 84px;
  text-align: left;
  font-family: IBM Plex Sans, monospace;
  font-weight: normal;
  font-size: 36px;
  color: #060a24;
  letter-spacing: 0;
  line-height: 42px;
}

.article2 div {
  margin: 8px 16px 54px;
  width: 288px;
  height: 254px;
}

h2 {
  margin: 0px 16px 14px;
  width: 288px;
  height: 84px;
  font-family: IBM Plex Sans, monospace;
  font-weight: normal;
  font-size: 36px;
  color: #060a24;
  letter-spacing: 0;
  line-height: 42px;
}

.container-img {
  border: none;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
  -ms-grid-columns: 320px;
      grid-template-columns: 320px;
  -ms-grid-rows: 243px 243px 243px 243px 243px 243px;
      grid-template-rows: 243px 243px 243px 243px 243px 243px;
}

.container-img .grace img {
  max-width: 100%;
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 1;
  grid-row: 1;
}

.container-img .katie img {
  max-width: 100%;
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 2;
  grid-row: 2;
}

.container-img .margaret img {
  max-width: 100%;
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 3;
  grid-row: 3;
}

.container-img .era img {
  max-width: 100%;
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 4;
  grid-row: 4;
}

.container-img .eniac img {
  max-width: 100%;
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 5;
  grid-row: 5;
}

.container-img .susan img {
  max-width: 100%;
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 6;
  grid-row: 6;
}

.article4 {
  width: 100%;
  height: 928px;
  margin: 48px 0px 42px 0px;
}

.article4 span {
  display: block;
  margin: 0px 16px 24px;
  width: 288px;
  height: 84px;
  font-family: IBM Plex Sans, monospace;
  font-weight: normal;
  font-size: 36px;
  color: #060a24;
  letter-spacing: 0;
  line-height: 42px;
}

.article4 .trabajo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  width: 100%;
  height: 162px;
}

.article4 .trabajo img {
  max-width: 104px;
  max-height: 104px;
  margin: 13px 108px;
}

.article4 .trabajo figcaption {
  margin: 0px 16px;
  width: 288px;
  height: 32px;
  font-family: IBM Plex Sans, monospace;
  font-weight: 600;
  font-size: 24px;
  color: #060a24;
  letter-spacing: 0;
  text-align: center;
}

.article4 .repensando {
  margin-top: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  width: 100%;
  height: 194px;
}

.article4 .repensando img {
  max-width: 104px;
  max-height: 104px;
  margin: 13px 108px;
}

.article4 .repensando figcaption {
  margin: 0px 16px;
  width: 288px;
  height: 64px;
  font-family: IBM Plex Sans, monospace;
  font-weight: 600;
  font-size: 24px;
  color: #060a24;
  letter-spacing: 0;
  text-align: center;
}

.article4 .bases {
  margin-top: 52px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  width: 100%;
  height: 162px;
}

.article4 .bases img {
  max-width: 104px;
  max-height: 104px;
  margin: 13px 108px;
}

.article4 .bases figcaption {
  margin: 0px 16px;
  width: 288px;
  height: 32px;
  font-family: IBM Plex Sans, monospace;
  font-weight: 600;
  font-size: 24px;
  color: #060a24;
  letter-spacing: 0;
  text-align: center;
}

.article4 .seguridad {
  margin-top: 52px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  width: 100%;
  height: 162px;
}

.article4 .seguridad img {
  max-width: 104px;
  max-height: 104px;
  margin: 13px 108px;
}

.article4 .seguridad figcaption {
  margin: 0px 16px;
  width: 288px;
  height: 64px;
  font-family: IBM Plex Sans, monospace;
  font-weight: 600;
  font-size: 24px;
  color: #060a24;
  letter-spacing: 0;
  text-align: center;
}

footer {
  font-family: IBM Plex Mono, monospace;
  font-weight: normal;
  font-size: 14px;
  color: #060a24;
  letter-spacing: 0;
  line-height: 22px;
}

footer .container2 {
  background-image: linear-gradient(225deg, #0000ff 0%, #0000a3 100%);
  -webkit-clip-path: polygon(0 5%, 100% 0, 100% 100%, 0% 100%);
          clip-path: polygon(0 5%, 100% 0, 100% 100%, 0% 100%);
  width: 100%;
  height: 341px;
}

footer .container2 span {
  width: 288px;
  height: 126px;
  padding: 64px 16px 36px;
  display: block;
  font-family: IBM Plex Sans, monospace;
  font-weight: normal;
  font-size: 36px;
  color: #ffffff;
  letter-spacing: 0;
  text-align: center;
  line-height: 42px;
}

footer .container2 a.boton_2 {
  margin: 0px 16px;
  border: none;
  display: inline-block;
  padding: 13px 43px;
  width: 202px;
  height: 22px;
  text-decoration: none;
  background: #00f3bb;
  font-family: "IBM Plex Mono", monospace;
  font-weight: 500;
  font-size: 16px;
  color: #060a24;
  letter-spacing: 0;
  text-align: center;
  line-height: 22px;
}

footer .container2 .boton_2:hover {
  background-image: linear-gradient(225deg, #0000fe 0%, #00f0b8 100%);
  font-family: "IBM Plex Mono", monospace;
  font-weight: 500;
  font-size: 16px;
  color: #ffffff;
  letter-spacing: 0;
  text-align: center;
  line-height: 24px;
  text-decoration: none;
}

footer p {
  margin: 24px 46px 16px 47px;
  width: 227px;
  height: 22px;
  text-align: center;
  font-family: IBM Plex Mono, monospace;
  font-weight: normal;
  font-size: 14px;
  color: #060a24;
  letter-spacing: 0;
  line-height: 22px;
}

footer .redes ul {
  margin: 0px 45px 31px;
  font-family: "Font Awesome 5 Brands";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .redes ul li {
  list-style: none;
  display: inline-block;
}

footer .redes ul li i {
  font-size: 16px;
  color: #060a24;
  letter-spacing: 0;
  line-height: 28px;
}

@media screen and (min-width: 1440px) {
  *::after,
  *::before {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: inherit;
            box-sizing: inherit;
  }
  .article1 p, .article2 div {
    text-align: justify;
    font-family: IBM Plex Mono, monospace;
    font-weight: normal;
    font-size: 14px;
    color: #060a24;
    letter-spacing: 0;
    line-height: 22px;
  }
  main {
    width: 100%;
    height: 3058px;
  }
  .container-titulo h2 {
    width: 100%;
    height: 84px;
    margin-top: 120px;
    font-family: IBM Plex Sans, monospace;
    font-size: 64px;
    color: #060A24;
    letter-spacing: 0;
  }
  .container-titulo h2 .tachado {
    text-decoration: line-through;
  }
  .container-titulo h2 .color {
    color: #0000EC;
  }
  .article1 {
    width: 628px;
    height: 48px;
    margin: 0px 612px 56px 200px;
  }
  .article1 p {
    font-size: 16px;
    line-height: 24px;
  }
  a.boton_1 {
    margin: 0px 1014px 0px 200px;
    padding: 16px 59px;
    width: 108px;
    height: 24px;
    font-size: 18px;
    line-height: 24px;
  }
  .boton_1:hover {
    font-size: 18px;
  }
  .episodios {
    -webkit-clip-path: polygon(0 10%, 100% 0, 100% 90%, 0% 100%);
            clip-path: polygon(0 10%, 100% 0, 100% 90%, 0% 100%);
    margin-top: 5px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 100px 584px 72px 584px 100px;
        grid-template-columns: 100px 584px 72px 584px 100px;
    -ms-grid-rows: 274px 232px 72px 232px 232.6px;
        grid-template-rows: 274px 232px 72px 232px 232.6px;
    background-image: linear-gradient(225deg, #0000ff 0%, #0000a3 100%);
    width: 100%;
    height: 1042.6px;
  }
  .episodios h3 {
    width: 209px;
    height: 62px;
    margin: 186px 1031px 0px 200px;
    font-size: 48px;
  }
  .episodios iframe {
    height: 232px;
    width: 100%;
    border: 0;
    background: transparent;
  }
  .episodios .jsparty {
    -ms-grid-column: 2;
    grid-column: 2;
    -ms-grid-row: 2;
    grid-row: 2;
  }
  .episodios .syntax {
    -ms-grid-column: 4;
    grid-column: 4;
    -ms-grid-row: 2;
    grid-row: 2;
  }
  .episodios .rework {
    -ms-grid-column: 2;
    grid-column: 2;
    -ms-grid-row: 4;
    grid-row: 4;
  }
  .episodios .ruby {
    -ms-grid-column: 4;
    grid-column: 4;
    -ms-grid-row: 4;
    grid-row: 4;
  }
  .phone {
    -webkit-transform: translate(200px, -168.6px);
            transform: translate(200px, -168.6px);
    z-index: 1;
    width: 457.6px;
    height: 660px;
  }
  .phone img {
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center center;
       object-position: center center;
  }
  .article2 h3 {
    position: absolute;
    border: none;
    padding: 0%;
    float: right;
    margin: -690px 321px 0px 720px;
    width: 399px;
    height: 62px;
    text-align: left;
    font-size: 48px;
  }
  .article2 div {
    position: absolute;
    float: right;
    margin: -589px -566px 0px 720px;
    width: 464px;
    height: 204px;
    font-size: 16px;
    line-height: 24px;
  }
  h2 {
    margin: -110px 759px 36px 200px;
    width: 481px;
    height: 62px;
    font-size: 48px;
  }
  .container-img {
    width: 100%;
    border: none;
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: stretch;
        -ms-flex-pack: stretch;
            justify-content: stretch;
    -ms-grid-columns: 480px 480px 480px;
        grid-template-columns: 480px 480px 480px;
    -ms-grid-rows: 364px 364px;
        grid-template-rows: 364px 364px;
  }
  .container-img .grace img {
    max-width: 100%;
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 1;
    grid-row: 1;
  }
  .container-img .katie img {
    max-width: 100%;
    -ms-grid-column: 2;
    grid-column: 2;
    -ms-grid-row: 1;
    grid-row: 1;
  }
  .container-img .margaret img {
    max-width: 100%;
    -ms-grid-column: 3;
    grid-column: 3;
    -ms-grid-row: 1;
    grid-row: 1;
  }
  .container-img .era img {
    max-width: 100%;
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 2;
    grid-row: 2;
  }
  .container-img .eniac img {
    max-width: 100%;
    -ms-grid-column: 2;
    grid-column: 2;
    -ms-grid-row: 2;
    grid-row: 2;
  }
  .container-img .susan img {
    max-width: 100%;
    -ms-grid-column: 3;
    grid-column: 3;
    -ms-grid-row: 2;
    grid-row: 2;
  }
  .article4 {
    width: 100%;
    margin: 64px 0px 34px 200px;
    border: none;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 260px 260px 260px 260px;
        grid-template-columns: 260px 260px 260px 260px;
    -ms-grid-rows: 118px 130px;
        grid-template-rows: 118px 130px;
  }
  .article4 span {
    margin: 0px 654px 56px 0px;
    width: 586px;
    height: 62px;
    font-size: 48px;
  }
  .article4 .trabajo {
    margin-top: 0px;
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 2;
    grid-row: 2;
  }
  .article4 .trabajo img {
    max-width: 104px;
    max-height: 104px;
    margin: 13px 0px 0px 78px;
  }
  .article4 .trabajo figcaption {
    margin: 29px 20px 0px 20px;
    width: 220px;
    height: 32px;
  }
  .article4 .repensando {
    margin-top: 0px;
    -ms-grid-column: 2;
    grid-column: 2;
    -ms-grid-row: 2;
    grid-row: 2;
  }
  .article4 .repensando img {
    max-width: 104px;
    max-height: 104px;
    margin: 13px 0px 0px 78px;
  }
  .article4 .repensando figcaption {
    margin: 29px 20px 0px 20px;
    width: 220px;
    height: 64px;
  }
  .article4 .bases {
    margin-top: 0px;
    -ms-grid-column: 3;
    grid-column: 3;
    -ms-grid-row: 2;
    grid-row: 2;
  }
  .article4 .bases img {
    max-width: 104px;
    max-height: 104px;
    margin: 13px 0px 0px 78px;
  }
  .article4 .bases figcaption {
    margin: 29px 20px 0px 20px;
    width: 220px;
    height: 32px;
  }
  .article4 .seguridad {
    margin-top: 0px;
    -ms-grid-column: 4;
    grid-column: 4;
    -ms-grid-row: 2;
    grid-row: 2;
  }
  .article4 .seguridad img {
    max-width: 104px;
    max-height: 104px;
    margin: 13px 0px 0px 78px;
  }
  .article4 .seguridad figcaption {
    margin: 29px 20px 0px 20px;
    width: 220px;
    height: 64px;
  }
  footer .container2 {
    -webkit-clip-path: polygon(0 20%, 100% 0, 100% 100%, 0% 100%);
            clip-path: polygon(0 20%, 100% 0, 100% 100%, 0% 100%);
    width: 100%;
    margin-top: 34px;
    height: 518px;
  }
  footer .container2 span {
    width: 692px;
    height: 62px;
    padding: 213px 374px 36px;
    font-size: 48px;
  }
  footer .container2 a.boton_2 {
    margin: 0px 548px 0px 574px;
    padding: 16px 59px;
    width: 227px;
    height: 24px;
    font-size: 18px;
    line-height: 24px;
  }
  footer .container2 .boton_2:hover {
    font-size: 18px;
  }
  footer p {
    float: left;
    margin: 36px 0px 31px 100px;
    width: 269px;
    height: 28px;
    text-align: left;
    font-size: 16px;
    line-height: 24px;
  }
  footer .redes ul {
    height: 28px;
    width: 234px;
    margin: 36px 100px 31px 0px;
    float: right;
  }
  footer .redes ul li i {
    display: inline-block;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    font-size: 18px;
    color: #060a24;
    letter-spacing: 0;
    line-height: 28px;
  }
}
/*# sourceMappingURL=style.css.map */